apiVersion: "monitoring.coreos.com/v1"
kind: PrometheusRule
metadata:
  name: team-obo-alarmer-veilarbvedtaksstotte
  namespace: obo
  labels:
    team: obo
spec:
  groups:
    - name: team-obo-alarmer-veilarbvedtaksstotte
      rules:
        # Kubernetes-spesifikke alerts
        - alert: Applikasjon er nede
          expr: kube_deployment_status_replicas_available{deployment="veilarbvedtaksstotte"} == 0
          for: 1m
          annotations:
            summary: "App {{ $labels.deployment }} er nede i namespace {{ $labels.namespace }}!"
            consequence: "Appen kan ikke nås av andre applikasjoner, noe som kan potensielt ha stor konsekvens for brukere (nedetid, mm.)."
            action: "Diagnostiser applikasjonen ved hjelp av relevante kubectl-kommandoer (`kubectl get pod -l app={{ $labels.deployment }}`, `kubectl describe pod <pod>`, `kubectl get events --field-selector involvedObject.name=<pod>`)."
          labels:
            namespace: obo
            severity: critical

        # Spring Boot spesifikke alerts
        - alert: Høy andel serverfeil (HTTP 5XX)
          expr: (100 * (sum(rate(http_server_requests_seconds_count{app="veilarbvedtaksstotte", outcome="SERVER_ERROR"}[5m])) / sum(rate(http_server_requests_seconds_count{app="veilarbvedtaksstotte"}[5m])))) > 1
          for: 5m
          annotations:
            summary: "Andelen HTTP 5XX feil i veilarbvedtaksstotte har oversteget 1% de siste 5 minuttene."
            consequence: "Potensielle konsekvenser for bruker kan være forhøyet andel opplevd feil, degradert ytelse, mm."
            action: "Sjekk logger for å se hvilke feil som oppstår og start feilsøking."
          labels:
            namespace: obo
            severity: critical

        - alert: Høy andel klientfeil (HTTP 4XX)
          expr: (100 * (sum(rate(http_server_requests_seconds_count{app="veilarbvedtaksstotte", outcome="CLIENT_ERROR"}[5m])) / sum(rate(http_server_requests_seconds_count{app="veilarbvedtaksstotte"}[5m])))) > 10
          for: 5m
          annotations:
            summary: "Andelen HTTP 4XX feil i veilarbvedtaksstotte har oversteget 10% de siste 5 minuttene."
            consequence: "Potensielle konsekvenser for bruker kan være forhøyet andel opplevd feil, degradert ytelse, mm."
            action: "Sjekk logger for å se hvilke feil som oppstår og start feilsøking."
          labels:
            namespace: obo
            severity: warning

        # Forretningsspesifikke alerts
        - alert: Fattet vedtak er ikke journalført
          expr: max(antall_fattet_vedtak_uten_journalforing{app="veilarbvedtaksstotte"}) > 0
          for: 5m
          annotations:
            summary: "Det finnes fattede vedtak som ikke er journalført."
            action: "veilarbvedtaksstotte: Undersøk om jobben som journalfører vedtak har stoppet."
          labels:
            namespace: obo
            severity: critical

        - alert: Journalførte dokumenter er ikke distribuert
          expr: max(antall_journalforte_vedtak_uten_dokumentbestilling{app="veilarbvedtaksstotte"}) > 0
          for: 5m
          annotations:
            summary: "Det finnes journalførte dokumenter som ikke er distribuert."
            action: "veilarbvedtaksstotte har journalførte dokumenter som ikke er distribuert. Undersøk om jobben som distribuerer journalpost har stoppet."
          labels:
            namespace: obo
            severity: critical

        - alert: Antall journalførte dokumenter som ikke er distribuert har økt med >20% siste 24t
          expr: |
            (
              (max(antall_journalforte_vedtak_uten_dokumentbestilling{app="veilarbvedtaksstotte"})
                - max(antall_journalforte_vedtak_uten_dokumentbestilling{app="veilarbvedtaksstotte"} offset 24h)
              )
              /
              clamp_min(max(antall_journalforte_vedtak_uten_dokumentbestilling{app="veilarbvedtaksstotte"} offset 24h), 1)
            ) > 0.2
          for: 5m
          annotations:
            summary: "Det har dukket opp >20% flere journalførte dokumenter som ikke er distribuert, sammenlignet med for 24 timer siden."
            action: "veilarbvedtaksstotte har journalførte dokumenter som ikke er distribuert. Undersøk om jobben som distribuerer journalpost har stoppet."
          labels:
            namespace: obo
            severity: critical

        - alert: Distribusjon av journalpost har feilet
          expr: max(antall_vedtak_med_feilende_dokumentbestilling{app="veilarbvedtaksstotte"}) > 0
          for: 5m
          annotations:
            summary: "Distribusjon av journalpost har feilet."
            action: "veilarbvedtaksstotte har journalførte dokumenter der distribusjonen har feilet. Distribusjon vil ikke bli forsøkt på nytt og må rettes manuelt. Vedtakets dokument_bestilling_id er satt til FEILET"
          labels:
            namespace: obo
            severity: critical
