kind: Application
apiVersion: nais.io/v1alpha1
metadata:
  name: veilarbvedtaksstotte
  namespace: obo
  labels:
    team: obo
spec:
  image: {{image}}
  port: 8080
  webproxy: true
  leaderElection: true
  ingresses:
    - https://veilarbvedtaksstotte.intern.dev.nav.no
  prometheus:
    enabled: true
    path: veilarbvedtaksstotte/internal/prometheus
  readiness:
    path: veilarbvedtaksstotte/internal/health/readiness
    initialDelay: 30
  liveness:
    path: veilarbvedtaksstotte/internal/health/liveness
    initialDelay: 30
  replicas:
    min: 1
    max: 2
    cpuThresholdPercentage: 75
  resources:
    limits:
      memory: 1024Mi
    requests:
      cpu: 100m
      memory: 768Mi #https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-f1-micro
        databases:
          - name: veilarbvedtaksstotte
            envVarPrefix: DB
            users:
              - name: bigquery_user
    bigQueryDatasets:
      - description: Datasett for statistikk for 14a vedtak
        name: 14a_vedtak_statistikk
        permission: READWRITE
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
    logging:
      destinations:
        - id: elastic
        - id: loki
  kafka:
    pool: nav-dev
  env:
    - name: AIA_BACKEND_TOKEN_SCOPE
      value: api://dev-gcp.paw.aia-backend/.default
    - name: AIA_BACKEND_URL
      value: https://www.intern.dev.nav.no/aia-backend
    - name: ARBEIDSSOKERREGISTERET_OPPSLAG_API_V2_TOKEN_SCOPE
      value: api://dev-gcp.paw.paw-arbeidssoekerregisteret-api-oppslag-v2/.default
    - name: ARBEIDSSOKERREGISTERET_OPPSLAG_API_V2_URL
      value: http://paw-arbeidssoekerregisteret-api-oppslag-v2.paw
    - name: DOKARKIV_TOKEN_SCOPE
      value: api://dev-fss.teamdokumenthandtering.dokarkiv/.default
    - name: DOKARKIV_URL
      value: https://dokarkiv-q2.dev-fss-pub.nais.io
    - name: DOKDISTFORDELING_TOKEN_SCOPE
      value: api://dev-fss.teamdokumenthandtering.dokdistfordeling/.default
    - name: DOKDISTFORDELING_URL
      value: https://dokdistfordeling.dev-fss-pub.nais.io
    - name: DOKDISTKANAL_TOKEN_SCOPE
      value: api://dev-fss.teamdokumenthandtering.dokdistkanal/.default
    - name: DOKDISTKANAL_URL
      value: https://dokdistkanal-q2.dev-fss-pub.nais.io
    - name: EGENVURDERING_DIALOG_TJENESTE_TOKEN_SCOPE
      value: api://dev-gcp.paw.egenvurdering-dialog-tjeneste/.default
    - name: EGENVURDERING_DIALOG_TJENESTE_URL
      value: http://egenvurdering-dialog-tjeneste.paw
    - name: NORG2_URL
      value: https://norg2.intern.dev.nav.no/norg2
    - name: PDL_TOKEN_SCOPE
      value: api://dev-fss.pdl.pdl-api/.default
    - name: PDL_URL
      value: https://pdl-api.dev-fss-pub.nais.io
    - name: POAO_TILGANG_TOKEN_SCOPE
      value: api://dev-gcp.poao.poao-tilgang/.default
    - name: POAO_TILGANG_URL
      value: http://poao-tilgang.poao
    - name: PTO_PDFGEN_URL
      value: http://pto-pdfgen.obo
    - name: REGOPPSLAG_TOKEN_SCOPE
      value: api://dev-fss.teamdokumenthandtering.regoppslag/.default
    - name: REGOPPSLAG_URL
      value: https://regoppslag.dev-fss-pub.nais.io
    - name: SAF_TOKEN_SCOPE
      value: api://dev-fss.teamdokumenthandtering.saf/.default
    - name: SAF_URL
      value: https://saf-q2.dev-fss-pub.nais.io
    - name: VEILARBARENA_TOKEN_SCOPE
      value: api://dev-fss.pto.veilarbarena/.default
    - name: VEILARBARENA_URL
      value: https://veilarbarena.dev-fss-pub.nais.io/veilarbarena
    - name: VEILARBOPPFOLGING_TOKEN_SCOPE
      value: api://dev-gcp.poao.veilarboppfolging/.default
    - name: VEILARBOPPFOLGING_URL
      value: http://veilarboppfolging.poao/veilarboppfolging
    - name: VEILARBPERSON_TOKEN_SCOPE
      value: api://dev-gcp.obo.veilarbperson/.default
    - name: VEILARBPERSON_URL
      value: http://veilarbperson.obo/veilarbperson
    - name: VEILARBVEILEDER_TOKEN_SCOPE
      value: api://dev-gcp.obo.veilarbveileder/.default
    - name: VEILARBVEILEDER_URL
      value: http://veilarbveileder.obo/veilarbveileder
    # Topics
    - name: ARENA_VEDTAK_TOPIC
      value: teamarenanais.aapen-arena-14avedtakiverksatt-v1-q2
    - name: ENDRING_PA_OPPFOLGINGSBRUKER_TOPIC
      value: pto.endring-paa-oppfolgingsbruker-v2
    # BigQuery
    - name: BQ_DATASET_NAME
      value: 14a_vedtak_statistikk
    - name: BQ_TABLE_NAME
      value: statistikk_dvh_fellestabell

  azure:
    application:
      allowAllUsers: true
      enabled: true
      claims:
        extra:
          - NAVident
          - azp_name
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: veilarbportefoljeflatefs
          namespace: obo
        - application: veilarbportefolje
          namespace: obo
          permissions:
            roles:
              - "siste-14a-vedtak"
        - application: veilarbpersonflate
          namespace: poao
        - application: inngar
          namespace: dab
        - application: beslutteroversikt
          namespace: obo
        - application: mulighetsrommet-api
          namespace: team-mulighetsrommet
        - application: poao-admin
          namespace: poao
          cluster: dev-gcp
        - application: azure-token-generator
          namespace: nais
        - application: amt-person-service
          namespace: amt
          permissions:
            roles:
              - "gjeldende-14a-vedtak"
        - application: modiapersonoversikt-api
          namespace: personoversikt
        - application: tiltaksgjennomforing-api
          namespace: arbeidsgiver
          cluster: dev-fss
          permissions:
            roles:
              - "gjeldende-14a-vedtak"
        - application: ismeroppfolging
          namespace: teamsykefravr
          cluster: dev-gcp
          permissions:
            roles:
              - "gjeldende-14a-vedtak"
    outbound:
      rules:
        - application: aia-backend
          namespace: paw
        - application: egenvurdering-dialog-tjeneste
          namespace: paw
        - application: logging
          namespace: nais-system
        - application: paw-arbeidssoekerregisteret-api-oppslag-v2
          namespace: paw
        - application: poao-tilgang
          namespace: poao
        - application: pto-pdfgen
        - application: veilarboppfolging
          namespace: poao
        - application: veilarbperson
        - application: veilarbveileder
      external:
        - host: dokarkiv-q2.dev-fss-pub.nais.io
        - host: dokdistkanal-q2.dev-fss-pub.nais.io
        - host: pdl-api.dev-fss-pub.nais.io
        - host: regoppslag.dev-fss-pub.nais.io
        - host: saf-q2.dev-fss-pub.nais.io
        - host: team-obo-unleash-api.nav.cloud.nais.io
        - host: veilarbarena.dev-fss-pub.nais.io
        - host: www.intern.dev.nav.no
  envFrom:
    - secret: veilarbvedtaksstotte-unleash-api-token
